.article-bg-color {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #8b7b7b;
}

.article-bg-color h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
}

.article-bg-color p {
    color: white;
    line-height: 1.625;
    line-break:unset;
}
